.recorder-button-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 40px;
    justify-content: space-around;
    align-items: flex-end;
}

.with-margin-bottom {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.play-window-input {
    flex: 1;
}
